<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Forgot to add something to your cart? Shop around then come back to pay!
    </p>
  </body>
</html>
